/Principal/nbproject/private/
/Principal/build/
/Principal_1/nbproject/private/
/Principal2/nbproject/private/
/Principal2/build/
/Principal3/nbproject/private/
/Principal_3/nbproject/private/
/Principal_3/build/
/PrincipalComparendos/nbproject/private/
/PrincipalComparendos/build/
/PrincipalIMC/nbproject/private/
/PrincipalIMC/build/
/PrincipalNumeros/nbproject/private/
/PrincipalNumeros/build/
/PrincipalEmpleados/nbproject/private/
/PrincipalEmpleados/build/
/PrincipalEmpleadosFemenino/nbproject/private/
/PrincipalEmpleadosFemenino/build/
/PrincipalIMC2/nbproject/private/
/PrincipalIMC2/build/
/PrincipalNotas/nbproject/private/
/PrincipalNotas/build/
/PrincipalProductos/nbproject/private/
/PrincipalProductos/build/
/PrincipalConversiondeMonedas/nbproject/private/
/PrincipalConversiondeMonedas/build/
/PrincipalDefinitiva/nbproject/private/
/PrincipalDefinitiva/build/
/PrincipalMeses/nbproject/private/
/PrincipalMeses/build/
/Principalformas/nbproject/private/
/Principalformas/build/
/Principaledificios/nbproject/private/
/Principaledificios/build/
/PrincipalDiscoteca/nbproject/private/
/PrincipalDiscoteca/build/
/PrincipalTransito/nbproject/private/
/PrincipalTransito/build/
/PrincipalNomina/nbproject/private/
/PrincipalNomina/build/
/PrincpialMagnitudTemblores/nbproject/private/
/PrincpialMagnitudTemblores/build/
/PrincipalMatriz/nbproject/private/
/PrincipalMatriz/build/
/PrincipalVocales/nbproject/private/
/PrincipalVocales/build/
/PrincipalDatos/nbproject/private/
/PrincipalDatos/build/
/PrincipalArreglo/nbproject/private/
/PrincipalArreglo/build/
/Principalrepaso/nbproject/private/
/Principalrepaso/build/
/JavaApplication112/nbproject/private/
/PrincipalFormasDos/nbproject/private/
/PrincipalFormasDos/build/